form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input,
  select,
  button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  small {
    color: red;
  }

  .success-message {
    color: green;
    font-weight: bold;
  }

  .error-message {
    color: red;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #0056b3;
    }
  }

  .reset-btn {
    background-color: #f44336;
    margin-top: 10px;

    &:hover {
      background-color: #c0392b;
    }
  }
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;

  li {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
}
